.app {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.logo {
  animation: logo-spin infinite 15s linear;
  height: 120px;
}

.header {
  padding: 20px;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
